<div id="Skills" class="band">
  <h2 class="title">Skill Set</h2>
  <div class="band__content-container">
    <div class="band__item skill1">
      <img class="skill-image" src="/css/images/skills/html5-shield.png" alt="Brendan has strong HTML5 skills">
    </div>
    <div class="band__item skill2">
      <img class="skill-image" src="/css/images/skills/css-shield.png" alt="Brendan has strong CSS skills">
    </div>
    <div class="band__item skill3">
      <img class="skill-image" src="/css/images/skills/angular-shield.png" alt="Brendan has strong AngularJS skills">
    </div>
    <div class="band__item skill4">
      <img class="skill-image" src="/css/images/skills/gulp.png" alt="Brendan has strong Gulp skills">
    </div>
    <div class="band__item skill5">
      <img class="skill-image" src="/css/images/skills/sass.png" alt="Brendan has strong Sass skills">
    </div>
    <div class="band__item skill6">
      <img class="skill-image" src="/css/images/skills/node-js.png" alt="Brendan has strong NodeJs skills">
    </div>
  </div>
</div>
