<div id="Skills" class="band">
  <h2 class="title">Skill Set</h2>
  <div class="band__content-container">
    <picture class="band__item skill1">
      <source media="(min-width: 800px)" srcset="/css/images/skills/html5-shield-lg.jpg">
      <img class="skill-image" src="/css/images/skills/html5-shield-md.jpg" alt="Brendan has strong HTML5 skills">
    </picture>
    <picture class="band__item skill2">
      <source media="(min-width: 800px)" srcset="/css/images/skills/css-shield-lg.jpg">
      <img class="skill-image" src="/css/images/skills/css-shield-md.jpg" alt="Brendan has strong CSS skills">
    </picture>
    <picture class="band__item skill3">
      <source media="(min-width: 800px)" srcset="/css/images/skills/angular-shield-lg.jpg">
      <img class="skill-image" src="/css/images/skills/angular-shield-md.jpg" alt="Brendan has strong AngularJS skills">
    </picture>
    <picture class="band__item skill4">
      <source media="(min-width: 800px)" srcset="/css/images/skills/gulp-lg.jpg">
      <img class="skill-image" src="/css/images/skills/gulp-md.jpg" alt="Brendan has strong Gulp skills">
    </picture>
    <picture class="band__item skill5">
      <source media="(min-width: 800px)" srcset="/css/images/skills/sass-lg.jpg">
      <img class="skill-image" src="/css/images/skills/sass-md.jpg" alt="Brendan has strong Sass skills">
    </picture>
    <picture class="band__item skill6">
      <source media="(min-width: 800px)" srcset="/css/images/skills/node-js-lg.jpg">
      <img class="skill-image" src="/css/images/skills/node-js-md.jpg" alt="Brendan has strong NodeJs skills">
    </picture>
  </div>
</div>
