<div id="Work" class="band">
  <h2 class="title">Recent Work</h2>
  <div class="band__content-container">
    <figure class="band__item work1">
      <a href="/work/sriservice/">
        <img class="work-image" src="/css/images/work/sriservices.jpg" alt="Wordpress Blog for a corporation.">
        <figcaption class="work-caption">A wordpress blog for SRI Inc.</figcaption>
      </a>
    </figure>
    <figure class="band__item work2">
      <a href="/work/ocv-give-back/">
        <img class="work-image" src="/css/images/work/OCV-giveback.png" alt="One Click Venture's Give-back Page.">
        <figcaption class="work-caption">Static Page using Youtube's API and integration with Salseforce Forms</figcaption>
      </a>
    </figure>
    <figure class="band__item work3">
      <a href="/work/sunglassharehouse/">
        <img class="work-image" src="/css/images/work/sunglasswarehouse.png" alt="Sunglasswarehouse wordpress blog">
        <figcaption class="work-caption">Bloggin site for ecommerce site <a href="http://www.sunglasswarehouse.com">sunglasswarehouse.com</a>.</figcaption>
      </a>
    </figure>
  </div>
</div>
