<div id="Work" class="band">
  <h2 class="title">Recent Work</h2>
  <div class="band__content-container">
    <figure class="band__item work1">
      <a href="/work/sriservice/">
        <picture>
          <source media="(min-width: 800px)" srcset="/css/images/work/sriservices-lg.jpg">
          <source media="(min-width: 560px) and (max-width: 799px)" srcset="/css/images/work/sriservices-md.jpg">
          <source media="(max-width: 559px)" srcset="/css/images/work/sriservices-sm.jpg">
          <img class="work-image" src="/css/images/work/sriservices-lg.jpg" alt="Wordpress Blog for a corporation."/>
        </picture>
      </a>
      <figcaption class="work-caption">A wordpress blog for SRI Inc.</figcaption>
    </figure>
    <figure class="band__item work2">
      <a href="/work/ocv-give-back/">
        <picture>
          <source media="(min-width: 800px)" srcset="/css/images/work/OCV-giveback-lg.jpg">
          <source media="(min-width: 560px) and (max-width: 799px)" srcset="/css/images/work/OCV-giveback-md.jpg">
          <source media="(max-width: 559px)" srcset="/css/images/work/OCV-giveback-sm.jpg">
          <img class="work-image" src="/css/images/work/OCV-giveback-lg.jpg" alt="One Click Venture's Give-back Page."/>
        </picture>
      </a>
      <figcaption class="work-caption">Static Page using Youtube's API and integration with Salseforce forms</figcaption>
    </figure>
    <figure class="band__item work3">
      <a href="/work/sunglassharehouse/">
        <picture>
          <source media="(min-width: 800px)" srcset="/css/images/work/sunglasswarehouse-lg.jpg">
          <source media="(min-width: 560px) and (max-width: 799px)" srcset="/css/images/work/sunglasswarehouse-md.jpg">
          <source media="(max-width: 559px)" srcset="/css/images/work/sunglasswarehouse-sm.jpg">
          <img class="work-image" src="/css/images/work/sunglasswarehouse-lg.jpg" alt="Sunglasswarehouse wordpress blog"/>
        </picture>
      </a>
      <figcaption class="work-caption">Blog for ecommerce site <a href="http://www.sunglasswarehouse.com" target="_blank">sunglasswarehouse.com</a>.</figcaption>
    </figure>
  </div>
</div>
