<section id="main">
    <article id="page-undefined" class="article article-type-page" itemscope="" itemprop="blogPost">
        <div class="article-inner">
            {{ if and (isset .Params "banner") (not (eq .Params.banner "")) }}
                {{if or (in (substr .Params.banner 0 7) "http://") (in (substr .Params.banner 0 8) "https://")}}
                <img src="{{ .Params.banner }}" class="article-banner">
                {{ else }}
                <img src="{{ .Site.BaseURL }}{{ .Params.banner }}" class="article-banner">
                {{end}}
            {{ end }}

            {{ template "contact/contact-body-header.html" . }}
            <div class="article-entry" itemprop="articleBody">
                {{ .Content }}
            </div>
            {{ template "contact/contact-body-footer.html" . }}
        </div>

        {{ partial "prev_next_post" . }}
    </article>

</section>
